{% extends '::base.html.twig' %}

{% trans_default_domain "NitraBuyerReportsBundle" %}

{% block content %}
    {% if (object is defined) and (url is defined) %}
        {% block success %} 
            <h1>{{ 'emails.review_after_purchase.success'|trans }}</h1>
            <a href="{{ url }}">{{ 'emails.review_after_purchase.text'|trans }} {{ object.name }}</a>
        {% endblock success %} 
    {% else %}
        {% block error %}
            <h1>{{ 'emails.review_after_purchase.error'|trans }}</h1>
        {% endblock error %}
    {% endif %}
{% endblock content %}