{% block send_success %}
    <div class="send_success">{{ msg }}</div>
{% endblock send_success %}  
    
{% block jscript %}
    <script type="text/javascript">
        current_report.fadeOut(150);
        $.colorbox.resize();
        setTimeout(function() {
            $.colorbox.close();
        }, 5000);
    </script>
{% endblock jscript %}
