{% block report_form %}
    <div id="report_form">
        {% block report_form_content %}
            {% block form %}
                {{ form(form) }}
            {% endblock form %}

            {% block script %}
                <script type="text/javascript">
                    $('#{{ form.vars.attr.id }}').submit(function(){
                        $.ajax({
                            type:       "POST",
                            url:        $(this).attr('action'),
                            data:       $(this).serialize(),
                            success:    function(data) {
                                $('#report_form').replaceWith(data);
                                $.colorbox.resize();
                            }
                        });
                        return false;
                    });
                </script>
            {% endblock script %}

            {% block message %}
                {% if msg is not empty %}
                    {% block message_text %}
                        <span id="report_new_inform_success" class="report_success">{{ msg|raw }}</span>
                    {% endblock message_text %}
                        
                    {% block message_script %}
                        <script type="text/javascript">
                            setTimeout(function(){
                                $('#report_new_inform_success').fadeOut(300, function(){
                                    $('#report_new_inform_success').remove();
                                    $.colorbox.resize();
                                });
                            }, 1500);
                        </script>
                    {% endblock message_script %}
                        
                {% endif %}
            {% endblock message %}
        {% endblock report_form_content %}
    </div>
{% endblock report_form %}