{% extends "NitraBuyerReportsBundle:Reports:reportQuantityForm.html.twig" %}

{% trans_default_domain "NitraBuyerReportsBundle" %}

{% block class 'report_price_down' %}

{% block title %}<h1>{{ 'titles.report_price_down'|trans }}</h1>{% endblock title %}

{% block report_text %}
    {% render (controller("NitraTextBlockBundle:TextBlock/TextBlock:TextBlock", {'location': 'report_price_down' })) %}
{% endblock report_text %}

{% block form %}
    {{ form(form, {'method': 'POST', 'action': path('buyer_price_down_report_save', {'productId': productId}), 'attr': {'id': 'send_form'} }) }}
{% endblock form %}