{% trans_default_domain "NitraBuyerReportsBundle" %}

{% block report %}
    <div class="send {% block class 'report_quantity' %}">
        {% block report_content %}
            {% block title %}<h1>{{ 'titles.report_quantity'|trans }}</h1>{% endblock title %}

            {% block report_text %}
                {% render (controller("NitraTextBlockBundle:TextBlock/TextBlock:TextBlock", {'location': 'report_quantity' })) %}
            {% endblock report_text %}

            {% block form %}
                {{ form(form, {'method': 'POST', 'action': path('buyer_quantity_report_save', {'productId': productId}), 'attr': {'id': 'send_form'} }) }}
            {% endblock form %}

            {% block jscript %}
                <script type="text/javascript">
                    function sucerr(html) {
                        $("#cboxLoadedContent").html(html);
                        $.colorbox.resize();
                        setTimeout(function() {
                            $.colorbox.close();
                        }, 5000);
                    }
                    $('#send_form').submit(function(){
                        $.ajax({
                            type:       "POST",
                            url:        $(this).attr('action'),
                            data:       $(this).serialize(),
                            success:    function(html) {
                                sucerr('<div class="send_success">' + html + '</div>');
                            },
                            error:      function(html) {
                                sucerr('<div class="send_error">' + html + '</div>');
                            }
                        });
                        return false;
                    });
                </script>
            {% endblock jscript %}
        {% endblock report_content %}
    </div>
{% endblock report %}