{% trans_default_domain "NitraBuyerReportsBundle" %}
{% if productId is defined %}
    <a class="buyer_report_product colorbox {{ class ? class : '' }}" href="{{ path('buyer_price_down_report_save', {'productId': productId}) }}" onclick="current_report=$(this);"><span>{{ 'buttons.report_price_down'|trans }}</span></a>
{% endif %}