{% extends "NitraBuyerReportsBundle:EmailTemplates:forgotenOrder.html.twig" %}

{% trans_default_domain "NitraBuyerReportsBundle" %}

{% block body_content_text %}
    <div style="font-size: 18px; margin: 7px 20px 10px 20px;">{{ 'emails.alternative_products.text'|trans }}</div>
{% endblock body_content_text %}  

{% block product_item %}
    {% for product in products %}
        {% if product.id in productAlternatives|keys %}
            <tr>
                <td colspan="4">
                    <div style="margin-bottom: 15px;">
                        <table width="620" align="center" cellspacing="0" cellpadding="0" style=" border-bottom: 1px solid #bab4b3; font-family: Arial, sans-serif;">
                            <tbody>
                                <tr>
                                    <td>
                                        <table width="620" align="center" cellspacing="0" cellpadding="10" style="font-family: Arial, sans-serif;">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" style="border-bottom: 2px solid #44AA2E;">
                                                        <div style="font-size: 16px; margin-left: 7px; font-weight: bold;">{{ 'emails.productsRecently'|trans }}</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="270">
                                                        <table width="270" align="center" cellspacing="0" cellpadding="10" style="font-family: Arial, sans-serif; border-color: #E7E7E7 #D0D0D0 #D0D0D0 #E7E7E7; border-style: solid; border-width: 1px; text-align: center; border-radius: 6px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);">
                                                            <tbody>
                                                                <tr align="center">
                                                                    <td colspan="2">
                                                                        <div style="margin:10px;">
                                                                            <a href="http://{{ store.host }}/{{ url('product_page', {'slug': product.aliasEn}) }}" style="color: #3D3D3D; font-size: 14px; font-weight: bold;">{{ product.category.name }} {{ product.brand.name }} {{ product.model }} {{ product.name }}</a>
                                                                        </div>
                                                                    </td> 
                                                                </tr>
                                                                <tr align="center">
                                                                    <td colspan="2">
                                                                        {% if (product.id in images|keys) %}
                                                                            <a href="http://{{ store.host }}/{{ url('product_page', {'slug': product.aliasEn}) }}" style="color: #2C94CC;">
                                                                                <img src="{{ images[product.id] }}" alt="{{ product.category.name }} {{ product.brand.name }} {{ product.model }} {{ product.name }}" border="0" width="175" height="200" />
                                                                            </a>
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                                <tr align="center">
                                                                    <td>
                                                                        {% if ('discount' in product.storePrice[store.id]|keys) and (product.storePrice[store.id].discount) %}
                                                                            {% set discountedPrice = product.storePrice[store.id].price * ((100-product.storePrice[store.id].discount)/100) %}
                                                                            <span style="color: #E65F0F; font-size: 24px; font-weight: bold;">{{ product.storePrice[store.id].price|price }}</span>
                                                                            {{ discountedPrice|price }}
                                                                        {% else %}
                                                                            {{ product.storePrice[store.id].price|price }}
                                                                        {% endif %}
                                                                    </td>
                                                                    <td width="96">
                                                                        <a href="http://{{ store.host }}/{{ url('product_page', {'slug': product.aliasEn}) }}"><img src="http://{{ store.host }}/mail_images/button_buy.png" width="97" height="36" /></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td width="270">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="620" align="center" cellspacing="0" cellpadding="10" style="font-family: Arial, sans-serif;">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" style="border-bottom: 2px solid #44AA2E;">
                                                        <div style="font-size: 16px; margin-left: 7px; font-weight: bold;">{{ 'emails.productsAlternative'|trans }}</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    {% for alternative in productAlternatives[product.id] %}
                                                        <td valign="top">
                                                            <table width="270" align="center" cellspacing="0" cellpadding="10" style="font-family: Arial, sans-serif; border-color: #E7E7E7 #D0D0D0 #D0D0D0 #E7E7E7; border-style: solid; border-width: 1px; text-align: center; border-radius: 6px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);">
                                                                <tbody>
                                                                    <tr align="center">
                                                                        <td colspan="2">
                                                                            <div style="margin:10px;">
                                                                                <a href="http://{{ store.host ~ productLinks[alternative.id] }}" style="color: #3D3D3D; font-size: 14px; font-weight: bold;">{{ alternative.category.name }} {{ alternative.brand.name }} {{ alternative.model }} {{ alternative.name }} </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr align="center">
                                                                        <td colspan="2">  
                                                                            {% if (alternative.id in images|keys) %}
                                                                                <a href="http://{{ store.host ~ productLinks[alternative.id] }}" style="color: #20558a;">
                                                                                    <img src="{{ images[alternative.id] }}" alt="{{ alternative.category.name }} {{ alternative.brand.name }} {{ alternative.model }} {{ alternative.name }}"  width="175" height="200" />
                                                                                </a>
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                    <tr align="center">
                                                                        <td> 
                                                                            {% if ('discount' in alternative.storePrice[store.id]|keys) and (alternative.storePrice[store.id].discount) %}
                                                                                {% set discountedPrice = alternative.storePrice[store.id].price * ((100-alternative.storePrice[store.id].discount)/100) %}
                                                                                <span style="color: #E65F0F; font-size: 24px; font-weight: bold;">{{ alternative.storePrice[store.id].price|price }}</span>
                                                                                {{ discountedPrice|price }}
                                                                            {% else %}
                                                                                {{ alternative.storePrice[store.id].price|price }}
                                                                            {% endif %}
                                                                        </td>
                                                                        <td width="96">
                                                                            <a href="http://{{ store.host ~ productLinks[alternative.id] }}"><img src="http://{{ store.host }}/mail_images/button_buy.png" width="97" height="36" /></a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        {{ loop.index is even and not loop.last ? '</tr><tr>' : (loop.index is odd and loop.last ? '<td>&nbsp;</td>') }}
                                                    {% endfor %}
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4"> &nbsp;</td>
            </tr>
        {% endif %}
    {% endfor %}
{% endblock product_item %}

{