{% extends "NitraStoreBundle:EmailTemplates:sendOrderMailBuyer.html.twig" %}

{% trans_default_domain "NitraBuyerReportsBundle" %}

{% block logo %} {{ store.name }} {% endblock logo %}

{% block email_contacts %}
    {% include "NitraStoreBundle:Common:contacts.html.twig" with {'phones': store.phone, 'isq': store.icq, 'skype': store.skype} %}
{% endblock email_contacts %}

{% block email_work_time %} {{ TBworkTime|raw }} {% endblock email_work_time %}

{% block buyer_name%}{{ 'order.mailingThemes.hello'|trans({},'NitraStoreBundle') }} {{ buyer.name }}!{% endblock buyer_name%}

{% block email_content %}
    <tr>
        <td colspan="4">
            {% block body_content_text %}
                <div style="font-size: 18px; margin: 7px 20px 10px 20px;">{{ 'emails.forgoten_order.text'|trans }}</div>
            {% endblock body_content_text %}    
        </td>
    </tr>
    
    {% if products is not empty %}
        {% block products %}
            <tr>
                <td colspan="4" valign="middle">
                    <div style="padding: 10px 20px; font-size: 16px; background:#f6f6f6; mso-text-raise:12px; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;">{{ 'emails.products'|trans }}</div>
                </td>
            </tr>
            {% for product in products %}

                {% block product_item %}
                    <tr class="products">
                        <td colspan="4">
                            <table width="620" align="center" cellspacing="0" cellpadding="0" style=" border-bottom: 1px solid #bab4b3; font-family: Arial, sans-serif; {{ loop.last ? 'border-bottom: none;' }}">
                                <tbody>
                                    <tr>
                                        <td width="140">
                                            <div style="margin: 10px 20px;">
                                                {% if (product.id in images|keys) %}
                                                    <a href="http://{{ store.host }}/{{ url('product_page', {'slug': product.aliasEn}) }}" target="_blank" style="color: #20558a;">
                                                        <img src="{{ images[product.id] }}" alt="{{ product.category.name }} {{ product.brand.name }} {{ product.model }} {{ product.name }}" border="0" width="175" height="200" />
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <a href="http://{{ store.host }}/{{ url('product_page', {'slug': product.aliasEn}) }}" target="_blank" style="color: #555;">{{ product.category.name }} {{ product.brand.name }} {{ product.model }} {{ product.name }}</a>
                                            <div style="margin-bottom: 15px;">
                                                <table width="465" cellspacing="0" cellpadding="5" border="1" style="border-color:#bab4b3; border-collapse: collapse; font-family: Arial, sans-serif; font-size: 12px;">
                                                   <tbody>
                                                       <tr>
                                                           <th style="font-size: 14px; border-color:#bab4b3;">{{ 'order.mailingThemes.price'|trans({},'NitraStoreBundle') }}</th>
                                                           <th style="font-size: 14px; border-color:#bab4b3;">{{ 'order.mailingThemes.count'|trans({},'NitraStoreBundle') }}</th>
                                                           <th style="font-size: 14px; border-color:#bab4b3;">{{ 'order.mailingThemes.total'|trans({},'NitraStoreBundle') }}</th>
                                                       </tr>
                                                       <tr>
                                                        <td align="center" style="color:#2C94CC; font-size: 18px; border-color:#bab4b3;">{{ cartData.cart[product.id].price|price }}</td>
                                                        <td align="center" style="color:#2C94CC; font-size: 18px; border-color:#bab4b3;">{{ cartData.cart[product.id].quantity }}</td>
                                                        <td align="center" style="color:#2C94CC; font-size: 18px; border-color:#bab4b3;">{{ (cartData.cart[product.id].price * cartData.cart[product.id].quantity)|price }}</td>
                                                    </tr>
                                                   </tbody> 
                                                </table>   
                                            </div>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                        </td>
                    </tr>           
                {% endblock product_item %}

            {% endfor %}

        {% endblock products %}  
    {% endif %} 
    {% if sets is not empty %}                
        {% block sets %}
        <tr>
            <td colspan="4" valign="middle">
                <div style="padding: 10px 20px; font-size: 16px; background:#f6f6f6; mso-text-raise:12px; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;">{{ 'emails.sets'|trans }}</div>
            </td>
        </tr>       
        {% for set in sets %}
        
            {% block set_item %}
                <tr class="set">
                    <td colspan="4">
                        <table width="620" align="center" cellspacing="0" cellpadding="0" style=" border-bottom: 1px solid #bab4b3; font-family: Arial, sans-serif; {{ loop.last ? 'border-bottom: none;' }}">
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <div style="font-size: 14px; font-weight: bold; margin: 10px 0;">{{ set.name }}</div>
                                    </td>
                                </tr> 
                                <tr>
                                    {% for setProduct in setsProducts[set.id] %}
                                        {% set setProductDiscount = cartData.sets[set.id][((setProduct.id in cartData.sets[set.id].main|keys) ? 'main' : 'entries')][setProduct.id]  %}
                                        {% set setProductPrice    = setProduct.storePrice[store.id].price*((100-setProductDiscount)/100) %}
                                        <td width="140">
                                            <div style="margin: 10px 20px;">
                                                {% if (setProduct.id in images|keys) %}
                                                    <a href="http://{{ store.host }}/{{ url('product_page', {'slug': setProduct.aliasEn}) }}" target="_blank">
                                                        <img src="{{ images[setProduct.id] }}" alt="{{ setProduct.category.name }} {{ setProduct.brand.name }} {{ setProduct.model }} {{ setProduct.name}}" style="display: block;" border="0" width="175" height="200" />
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <div style="font-size: 16px; margin: 10px 0; color: #555">
                                                <a href="http://{{ store.host }}/{{ url('product_page', {'slug': product.aliasEn}) }}" target="_blank">{{ setProduct.category.name }} {{ setProduct.brand.name }} {{ setProduct.model }} {{ setProduct.name}}</a>
                                            </div>
                                            <div style="margin-bottom: 15px;">
                                                <table width="465" cellspacing="0" cellpadding="5" border="1" style="border-color:#bab4b3; border-collapse: collapse; font-family: Arial, sans-serif; font-size: 12px;">
                                                    <tbody>
                                                        <tr>
                                                            <th style="font-size: 14px; border-color:#bab4b3;">{{ 'order.mailingThemes.price'|trans({},'NitraStoreBundle') }}</th>
                                                            <th style="font-size: 14px; border-color:#bab4b3;">{{ 'order.mailingThemes.count'|trans({},'NitraStoreBundle') }}</th>
                                                            <th style="font-size: 14px; border-color:#bab4b3;">{{ 'order.mailingThemes.sale'|trans({},'NitraStoreBundle') }}</th>
                                                            <th style="font-size: 14px; border-color:#bab4b3;">{{ 'order.mailingThemes.total'|trans({},'NitraStoreBundle') }}</th>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="color:#2C94CC; font-size: 18px; border-color:#bab4b3;">{{ setProductPrice|price }}</td>
                                                            <td align="center" style="color:#2C94CC; font-size: 18px; border-color:#bab4b3;">{{ cartData.sets[set.id].amount }}</td>
                                                            <td align="center" style="color:#2C94CC; font-size: 18px; border-color:#bab4b3;">{{ setProductDiscount }}</td>
                                                            <td align="center" style="color:#2C94CC; font-size: 18px; border-color:#bab4b3;">{{ (setProductPrice * cartData.sets[set.id].amount)|price }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>    
                                        </td>    
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr> 
            {% endblock set_item %}
                
        {% endfor %}
                
    {% endblock sets %}     
    {% endif %}             
    {% block by_forgoten_order %}
        <tr>
            <td colspan="4" align="right">
                <div style="font-size: 20px;  margin: 5px 20px;">{{ 'order.mailingThemes.total'|trans({},'NitraStoreBundle') }}: <span style="color:#b4602e; font-size: 24px;">{{ totalPrice|price }} {{ form(orderForm) }}</span></div>
            </td>
        </tr>
    {% endblock by_forgoten_order %} 
                
{% endblock email_content %}
