{% extends "NitraBuyerReportsBundle:EmailTemplates:forgotenOrder.html.twig" %}

{% trans_default_domain "NitraBuyerReportsBundle" %}

{% block buyer_name%}{{ 'order.mailingThemes.hello'|trans({},'NitraStoreBundle') }} {{ name }}!{% endblock buyer_name%}

{% block email_content %}
    <tr>
        <td colspan="4">
            <table width="620" align="center" cellspacing="0" cellpadding="0" style="font-family: Arial, sans-serif; border-bottom: 1px solid #bab4b3;">
                <tr>
                    <td colspan="4">
                       <div style="margin: 0 0 15px; font-size: 18px; color: #555;">{{ 'emails.report_price_down.text'|trans }} <a href="http://{{ store.host }}/app_dev.php/product/{{ product.aliasEn }}" style="color: #2C94CC">"{{ product.category.name }} {{ product.brand.name }} {{ product.model }} {{ product.name }}"</a>.</div> 
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div style="margin: 0 0 15px; font-size: 18px; color: #555;">{{ 'emails.report_price_down.newPrice'|trans }} <span style="color: #E65F0F; font-size: 20px;">{{ newPrice|price }}</span>, {{ 'emails.report_price_down.oldPrice'|trans }} <span style="color: #929292;">{{ oldPrice|price }}</span></div> 
                    </td>
               </tr>
               <tr>
                     <td width="96">
                         <div style="margin-bottom: 15px; font-size: 18px;">
                            <a href="http://{{ store.host }}/app_dev.php/product/{{ product.aliasEn }}" style="color: #2C94CC;">{{ 'emails.report_price_down.buy'|trans }}</a>
                         </div>
                     </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock email_content %}

