{% extends "NitraBuyerReportsBundle:EmailTemplates:forgotenOrder.html.twig" %}

{% trans_default_domain "NitraBuyerReportsBundle" %}

{% block email_content %}
    <tr>
        <td colspan="4">
            <div style="margin: 7px 20px 10px 20px; font-size: 14px;"><span style="color: #717171; font-style: italic;">{{ 'emails.review_after_purchase.info'|trans }}</span></div>
            <div style="margin: 7px 20px 10px 20px; font-size: 14px;"><span style="color: #717171; font-style: italic;">{{ 'emails.review_after_purchase.add'|trans }}</span></div>
        </td>
    </tr>
        {% for product in products %}
    
        {% form_theme review[product.id] _self %}

        <tr>
            <td colspan="4">
                <table width="620" align="center" cellspacing="0" cellpadding="0" style=" border-bottom: 1px solid #bab4b3; font-family: Arial, sans-serif;">
                    <tbody>
                        <tr>
                            <td width="140">
                                <div style="margin: 10px 20px;">
                                    {% if (product.id in images|keys) %}
                                        <a href="http://{{ store.host }}/{{ url('product_page', {'slug': product.aliasEn}) }}" style="color: #20558a;">
                                            <img src="{{ images[product.id] }}" title="{{ product.category.name }} {{ product.brand.name }} {{ product.model }} {{ product.name }}" alt="{{ product.category.name }} {{ product.brand.name }} {{ product.model }} {{ product.name }}" style="display: block;" border="0" width="175" height="200" />
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                            <td colspan="3">
                                <div style="font-size: 16px; margin: 10px 0;">
                                    <a href="http://{{ store.host }}/{{ url('product_page', {'slug': product.aliasEn}) }}" style="color: #2C94CC;">{{ product.category.name }} {{ product.brand.name }} {{ product.model }} {{ product.name }}</a>
                                </div>
                                {% block comments %}
                                    <div style="margin-bottom: 15px; font-size: 12px; color: #555;">
                                        {{ form_start(review[product.id]) }}
                                            {{ form_rest(review[product.id]) }}
                                        {{ form_end(review[product.id]) }}
                                    </div>
                                {% endblock comments %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    {% endfor %}
{% endblock email_content %}
    
